/* /Pages/Index.razor.rz.scp.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1[b-m53w0cp7ne]
{
    font-weight: bold;
    font-size: 48px;
}

.index-body[b-m53w0cp7ne]
{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
