/* /Pages/ActiveGame.razor.rz.scp.css */
.title-text[b-i9c2lkf1j2]
{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-canvas[b-i9c2lkf1j2]
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/Game.razor.rz.scp.css */
.username-text[b-0legnhbyhg]
{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/Index.razor.rz.scp.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1[b-m53w0cp7ne] {
    font-weight: bold;
    font-size: 48px;
}

.index-body[b-m53w0cp7ne] {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* /Pages/Login.razor.rz.scp.css */
.error-msg[b-e0pvqm75em]
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text[b-e0pvqm75em]
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #008000;
    color: white;
    margin-top: 3%;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-form-label[b-e0pvqm75em]
{
    font-weight: bold;
}

.validation-message[b-e0pvqm75em]
{
    color: red
}

.col-md-10[b-e0pvqm75em]{
    margin-top: 5px;
}

.row[b-e0pvqm75em]
{
    padding: 10px;
}

.form-container[b-e0pvqm75em]
{
    padding: 10px;
    margin: 10px;
}

.login-container[b-e0pvqm75em]
{
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #343d52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login[b-e0pvqm75em]
{
    background-color: #008000;
    color: white;
    width: 100%
}

.btn-register[b-e0pvqm75em]
{
    background-color: #a52a2a;
    color: white;
    width: 100%;
    margin-top: 10px;
}
/* /Pages/Register.razor.rz.scp.css */
.btn-success[b-1gvonqceen]
{
    width: 100%;
    margin-top: 10px;
    background-color: #008000;
    color: white;
}

.validation-message[b-1gvonqceen]
{
    color: red
}

.login-container[b-1gvonqceen]
{
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #343d52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text[b-1gvonqceen]
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #a52a2a;
    color: white;
    margin-top: 3%;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-form-label[b-1gvonqceen]
{
    color: white;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-8j0glk41zk] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-8j0glk41zk] {
    flex: 1;
}

.sidebar[b-8j0glk41zk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8j0glk41zk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8j0glk41zk]  a, .top-row .btn-link[b-8j0glk41zk] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-8j0glk41zk] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-8j0glk41zk] {
        display: none;
    }

    .top-row.auth[b-8j0glk41zk] {
        justify-content: space-between;
    }

    .top-row a[b-8j0glk41zk], .top-row .btn-link[b-8j0glk41zk] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8j0glk41zk] {
        flex-direction: row;
    }

    .sidebar[b-8j0glk41zk] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8j0glk41zk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-8j0glk41zk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-title[b-2zu9a2f2m5]
{
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    font-size: 28px;
}

#heading[b-2zu9a2f2m5]
{
    background-color: #9932CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu[b-2zu9a2f2m5]
{
    color: white;
    background-color: #9932CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading img[b-2zu9a2f2m5]{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.navbar-name-section[b-2zu9a2f2m5]
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-name-text[b-2zu9a2f2m5]
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
