@page "/game/{id:int}"
@inject NavigationManager NavManager; // Used to navigate in the webbrowser to different urls

<h1 class="title-text">Game (@Id) - Playing as @userName</h1>

<AuthorizeView>
    <div class="game-gui">

    </div>
</AuthorizeView>

@code
{
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }
    private string userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        // If the user is logged in
        if (authState.User.Identity.IsAuthenticated)
        {
            userName = authState.User.Identity.Name;
        }
        else
        {
            NavManager.NavigateTo("/Login");
        }
    }
}