.join-screen
{
	margin-top: 15em;
	display: flex;
    align-items: center;
    justify-content: center;
}

.join-text
{
	font-size: 48px;
	font-weight: bold;
}

.join-button
{
	font-size: 48px;
	color: white;
	background-color: green;
	margin-left: 10em;
	width: 25em;
	height: 10em;
}

.player-controls
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-button
{
    width: 10em;
    height: 5em;
    background-color: green;
    color:white;
    float:left;
}

.select-token-text
{
    margin-right: 2em;
}

.token-selection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bring-token-button
{
    float:left;
    width: 10em;
    height: 5em;
    background-color: brown;
    color:white;
}

.title-text
{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-canvas
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
	background: #3D4849;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #3D4849;
	color: #bdbdbdbd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #9932CC, #800080);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}