.title-text
{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-canvas
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}