.join-screen
{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
}

.game-info
{
	display: flex;
	align-items: center;
	flex-direction: column;
    text-align: center;
}

.game-name
{
    color: black;
    width: 25%;
    text-align: center;
	font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}

.game-details-text
{
    font-size: 24px;
}

.game-option-button
{
	font-size: 36px;
	color       : #FFFFFF;
	height      : 21px;
	line-height : 21px;
	text-align  : center;
	width       : auto;
	border      : 0px;
	padding-left:10px;
	padding-right:10px;
	min-width:600px;
	min-height: 250px;
}

#browse-btn
{
	background-color: #6699CC;
	transition: transform .5s;
}

#browse-btn:hover
{
	transform: scale(1.25);
}

#play-btn
{
	background-color: #FFA500;
}

.loading-section
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-message
{
    position: absolute;
    font-size: 48px;
    margin-top: 25%;
    transition: all 2s ease-in-out;
}

#play-btn:hover
{
	background-color: green;
	-webkit-animation: swing 2s ease;
	animation: swing 2s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

#play-btn:disabled
{
    border: 5px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.player-controls
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-button
{
    width: 10em;
    height: 5em;
    background-color: green;
    color:white;
    float:left;
	transition: all 0.2s ease-in-out;
}

.roll-button:hover
{
	color: white;
	transform: scale(1.25);
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bring-token-button
{
    float:left;
    width: 10em;
    height: 5em;
    background-color: brown;
    color:white;
	transition: all 0.2s ease-in-out;
}

.bring-token-button:hover
{
	color: white;
	transform: scale(1.25);
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-text
{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-token-text
{
    margin-right: 2em;
}

.token-selection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-canvas
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
	background: #3D4849;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #3D4849;
	color: #bdbdbdbd;
	font-size: 14px;
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #9932CC, #800080);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* play btn hover swing animation below */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}