.join-screen
{
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 50px;
}

.join-text
{
	font-size: 48px;
	font-weight: bold;
	display: flex;
    align-items: center;
    justify-content: center;
}

.game-option-button
{
	font-size: 36px;
	color       : #FFFFFF;
	height      : 21px;
	line-height : 21px;
	text-align  : center;
	width       : auto;
	border      : 0px;
	padding-left:10px;
	padding-right:10px;
	min-width:600px;
	min-height: 250px;
}

#browse-btn
{
	background-color: #6699CC
}

#browse-btn:hover
{
	background-color: blue;
}

#play-btn
{
	background-color: green;
}

#play-btn:hover
{
	background-color: gold;
}

.player-controls
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-button
{
    width: 10em;
    height: 5em;
    background-color: green;
    color:white;
    float:left;
}

.roll-button:hover
{
	background-color: black;
	color: white;
}

.bring-token-button
{
    float:left;
    width: 10em;
    height: 5em;
    background-color: brown;
    color:white;
}

.bring-token-button:hover
{
	background-color: purple;
	color: gold;
}

.title-text
{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-token-text
{
    margin-right: 2em;
}

.token-selection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-canvas
{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
	background: #3D4849;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #3D4849;
	color: #bdbdbdbd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #9932CC, #800080);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}