<!-- Defines that this is a page -->
@page "/game"

<!-- This page displays the actual Ludo game and can only be accessed when logged in/authenticated -->

<div class="game-container">
    <div class="game-board">

    </div>
</div>

@code
{
    GameController _gameController;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _gameController = new GameController();
    }
}
