.title-text
{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.available-games
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-btn
{
    font-size: 24px;
    background-color: green;
    color: white;

    width: 20em;
    height: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: transform .25s;
}

.game-btn:hover
{
    background-color: darkgreen;
    transform: scale(1.5);
}