.title-text
{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.available-games
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-board
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-btn
{
    font-size: 24px;
    background-color: #a6d99c;
    color: black;
    width: 20em;
    height: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: all .15s ease-in-out;
}

.game-btn:hover
{
    background-color: darkgreen;
    transform: scale(1.5);
    margin-top: 1em;
    margin-bottom: 1em;
}

.game-container
{
    text-align: center;
}