<!-- Defines that this is a page -->
@page "/"
@page "/Home"
<!-- The start/main page of the website -->

<h1 class="index-body">A multiplayer ludo game</h1>
<p class="index-body">Developed by Adam Brodin & Leo Rönnebro</p>
