.title-text
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: purple;
    color: white;
    margin-top: 3%;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-form-label
{
    font-weight: bold;
}

.validation-message
{
    color: red
}

.col-md-10{
    margin-top: 5px;
}

.row
{
    padding: 10px;
}

.form-container
{
    padding: 10px;
    margin: 10px;
}

.login-container
{
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #343d52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-success
{
    background-color: green;
    color: white;
    width: 100%
}