.btn-success
{
    width: 100%;
    margin-top: 10px;
    background-color: #008000;
    color: white;
}

.validation-message
{
    color: red
}

.login-container
{
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #343d52;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-text
{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #a52a2a;
    color: white;
    margin-top: 3%;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-form-label
{
    color: white;
} 