@page "/Websocket"
@using Microsoft.AspNetCore.SignalR.Client
@using LinuxLudo.Web.Hubs
@inject HubController _hubController
@implements IAsyncDisposable

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection _hub;
    private List<string> messages = new ();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        _hub = _hubController.Connect("chathub").Hub();
        
        _hub.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await _hub.StartAsync();
    }

    async Task Send() =>
        await _hub.SendAsync("SendMessage", userInput, messageInput);

    private bool IsConnected =>
        _hub.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        await _hub.DisposeAsync();
    }
}
