@inherits LayoutComponentBase

<!-- This file globally determines the elements that should be displayed on every page, e.g a navbar -->

<div class="flex flex-col min-h-screen">
    <!-- Displays the top menu/navbar from /NavMenu.razor-->
    <NavMenu />

    <!-- Displays the actual content of each page and it's body with global padding -->
    <div class="p-4">
        @Body
    </div>
</div>