.navbar-title
{
    margin-left: 15px;
    margin-top: 5px;
    color: white;
    font-size: 28px;
}

#heading
{
    background-color: #9932CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu
{
    color: white;
    background-color: #9932CC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading img{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.navbar-name-section
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-name-text
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}