@using LinuxLudo.Web.Domain.Services

<div id="heading">
    <h1 class="navbar-title">
        <h1>LinuxLudo <img src="Images/logo.png"></h1>
    </h1>
</div>

<div class="nav-menu">
    <!-- Flexbox to put the text to the left and menu button to the right -->
    <div class="flex items-center justify-center p-3">

        <!-- Navbar menu button -->
        <button @onclick="ToggleMenu" class="md:hidden">
            <!-- Button icon -->
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                    d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
        </button>
    </div>

    @{
        <!-- Determines what to put as the list class/whether or not to show/hide the list -->
        var menuVisibleStr = menuVisible ? "" : "hidden";
    }

    <!-- A list to display the menu options, flex-col makes them stack on eachother as opposed to left-right -->
    <!-- The list is only displayed if menuVisible is true -->
    <ul
        class="@($"flex flex-col {menuVisibleStr} bg-gray-700 px-4 py-2 md:flex md:flex-row md:bg-transparent items-center")">
        <NavLink class="md:pl-4 md:pr-4 md:py-1 hover:bg-gray-700" href="/Home">Home</NavLink>
    </ul>
</div>

@code
{
    private bool menuVisible;
    private void ToggleMenu() => menuVisible = !menuVisible;
}