@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-title
{
    background-color: #9ca6d9;
    margin-left: 15px;
    color: white;
    font-size: 28px;
}

#heading
{
    background-color: #9ca6d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu
{
    color: white;
    background-color: #9ca6d9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#heading img{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
}

.navbar-name-text
{
    margin-top: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #a6d99c;
    display: flex;
    align-items: center;
    justify-content: center;
}